@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(12,178,219);
    background: radial-gradient(circle, rgba(12,178,219,1) 0%, rgba(121,249,235,1) 100%); 
}
header{
    padding: 10px;
    z-index: 999;
    position: relative;
    width: 100%;
    height: calc(5rem + 1rem);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    transition-property: height;
}
header .sticky{
    height: calc(2.5rem + 1rem);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
header .nav-bar{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    transition: 0.3s ease;
}
img{
    width: 400px;
    height: 350px;
    position: absolute;
    top: 150px;
    right: 150px;
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    border-radius: 10px;
    
}

.nav-close-btn, .nav-menu-btn{
    display: none;
}
  
.nav-bar .logo{
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation .nav-items a{
    font-size: 1em;
    text-decoration: none;
    
}
  
.navigation .nav-items a:not(:last-child){
    margin-right: 45px;
}
.main{
    position: relative;
}

.main .learn h2{
    margin-top: 200px;
    position:absolute;
    left: 100px;
    color: #226A80;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
}

.main .content{
    margin: 10px 100px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 30px 40px;
    max-width: 600px;
}
  
.main .content .info h2{
    color: #226A80;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
  
.main .content .info h2 span{
    color: #226A80;
    font-size: 40px;
    font-weight: 600;
}
  
.main .content .info p{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 40px;
}
  
.main .content .info-btn{
    color: #fff;
    background: #226A80;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}
  
.main .content .info-btn:hover{
    background: #0C4F60;
}
.main hr{
    margin-top: 70px;
    height: 5px;
    border: none;
    background: rgb(40, 3, 100);
    background: radial-gradient(circle, rgb(21, 6, 230) 0%, rgba(121,249,235,1) 100%); 
}

.main .Ibafa-video{
    float: right;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    
    margin: 50px 100px;
    max-width: 600px;
    max-height: 500px;
}

.main .Ibafa-video video{
    width: 500px;
    height: 400px;
    
}
